@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links{
  display: flex;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: gray;
}

ul{
  list-style-type: none;
  padding: 0;
}

.content{
  flex-grow: 1 ;
  align-content: center;
  justify-items: center;
}

.buttons{
  margin: 10px;
}
button{
  padding: 5px 20px;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}